  <!DOCTYPE html>

  {# src/OC/PlatformBundle/Resources/views/Article/add.html.twig #}

<html>
  <head>
    <title>Blog</title>
	
	<link rel="stylesheet" href="C:/wamp/www/symfony/web/bootstrap/css/bootstrap.css" />
	
  </head>



{% block body %}

  <h2>Ajouter une annonce</h2>

  {{ include("BlogBundle:Article:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

{% endblock %}